/* MEDIA QUERIES */
/* Disables zooming out */
@media screen and (min-width: 1300px) {
  html {
    font-size: 0.8vw;
  }
}

/* Rsponsive .1875 * 16px = 3px */
@media screen and (max-width: 800px) {
  html {
    font-size: 18.75%;
  }
  a,
  button {
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .landing-wrapper {
    flex-direction: column-reverse;
  }
  .landing-left,
  .landing-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .me-wrapper {
    max-width: 80%;
  }
  .carousel-wrapper ul {
    min-height: 90%;
    grid-template-columns: 1fr;
    justify-content: stretch;
  }
  .card {
    height: 40rem;
    display: flex;
    justify-content: space-between;
  }
  .card-top {
    width: 30%;
    padding: 0 2rem;
  }

  .card-bottom {
    width: 50%;
    flex-grow: 1;
  }
  .card-bottom p {
    height: 60%;
    overflow: scroll;
  }
}
